<div class="container">
  <ng-container *ngIf="
  {
  questionnaire: questionnaire$ | async,
  questions: questions$ | async
  } as data">
    <ng-container *ngIf="data.questionnaire as questionnaire">
      <ng-container *ngIf="data.questions as questions">
        <mat-card>
          <mat-card-header>
            <div class="d-flex justify-content-between w-100">
              <div>
                <mat-card-title>{{ questionnaire.label }}</mat-card-title>
                <mat-card-subtitle>id {{ questionnaire.id }}</mat-card-subtitle>
              </div>
              <div>
                <button mat-icon-button
                        [matMenuTriggerFor]="menu"
                        color="primary"
                        [matTooltip]="'Options' | translate"
                        [matTooltipShowDelay]="1000">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <div mat-menu-item (click)="openEditDialog(questionnaire,'0ms', '0ms')">
                    <mat-icon><span class="material-symbols-outlined">edit</span></mat-icon>
                    <p>{{ 'Edit' | translate }}</p>
                  </div>
                  <div mat-menu-item (click)="openDeleteDialog('0ms', '0ms')">
                    <mat-icon color="warn"><span class="material-symbols-outlined">delete</span></mat-icon>
                    <p>{{ 'Delete' | translate }}</p>
                  </div>
                  <div mat-menu-item (click)="onChangeArchivedValue(questionnaire)">
                    <mat-icon><span
                      class="material-symbols-outlined">{{ questionnaire.archived ? 'unarchive' : 'archive' }}</span>
                    </mat-icon>
                    <p>{{ (questionnaire.archived ? 'Unarchive' : 'Archive') | translate }}</p>
                  </div>
                </mat-menu>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <hr>
            <div class="d-flex justify-content-around">
              <div class="d-flex flex-column align-items-center">
                <p class="mb-0">{{ 'Creation date' | translate }}</p>
                <mat-chip>{{ questionnaire.creationDate }}</mat-chip>
              </div>
              <div class="d-flex flex-column align-items-center">
                <p class="mb-0">{{ 'Topic' | translate }}</p>
                <a [routerLink]="['/topics', questionnaire.topic.id]">
                  <button mat-flat-button
                          color="primary"
                          class="rounded-pill">
                    {{ questionnaire.topic.label }}
                  </button>
                </a>
              </div>
              <div class="d-flex flex-column align-items-center">
                <p class="mb-0">{{ 'Archived.f' | translate }}</p>
                <mat-chip>{{ (questionnaire.archived ? 'Yes' : 'No') | translate }}</mat-chip>
              </div>
            </div>

            <div class="d-flex justify-content-around">
              <div class="d-flex flex-column align-items-center">
                <p class="mb-0">{{ 'Description' | translate }}</p>
                <mat-chip>{{ questionnaire.description }}</mat-chip>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="my-3">
          <mat-card-header>
            <mat-card-title>{{ 'Linked.questions' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <hr>
            <mat-list role="list">
              @for (question of questions; track question) {
                <mat-list-item role="listitem">
                  <div class="d-flex justify-content-between">
                    {{ question.label }}
                  </div>
                </mat-list-item>
              }
            </mat-list>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
