<div class="m-2">
  <h2 mat-dialog-title>{{ "General informations." | translate }} </h2>

  <mat-dialog-content class="my-2">
    <p>{{ ("The duration of the test is: " + data.test.timeLimit) | translate }}</p>
    <p><b>{{ "The test will be submitted in its current state without the possibility of retaking it:" | translate }}</b></p>
    <ul>
      <li>{{ "if you close, exit or refresh the window" | translate }}</li>
      <li>{{ "if you change tabs or windows" | translate }}</li>
      <li>{{ "if you leave the test page in any other way" | translate }}</li>
    </ul>
    <br>
    <p>{{ "If you are ready to take the test, press « Take »." | translate }}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button class="rounded-pill" (click)="onClose()">{{ "Cancel" | translate }}</button>
<!--    <button mat-flat-button color="primary" class="rounded-pill" (click)="onTakeTest()">{{ "Take" | translate }}</button>-->
    <a mat-flat-button
       [routerLink]="['/tests', data.id, 'take']"
       class="rounded-pill"
       (click)="onTakeTest()"
       color="primary">{{ "Take" | translate }}</a>
  </mat-dialog-actions>
</div>
