<div class="d-flex justify-content-end align-items-center m-2">
  <button
    *ngIf="testAssignedAtLeastOnce"
    class="rounded-pill mx-1"
    mat-stroked-button
    type="button"
    (click)="onDuplicateTest()"
    color="warn">
    {{ "Duplicate test" | translate }}
  </button>

  <div [matTooltip]="testAssignedAtLeastOnce ? ('Duplicate test to manage questions.' | translate) : ''">
    <button
      class="rounded-pill mx-1"
      mat-stroked-button
      type="button"
      (click)="onManageQuestionTests()"
      [disabled]="testAssignedAtLeastOnce"
      color="primary">
      {{ "Manage questions" | translate }}
    </button>
  </div>
  <div [matTooltip]="testAssignedAtLeastOnce ? ('Duplicate test to add new question.' | translate) : ''">
    <button
      class="rounded-pill mx-1"
      mat-stroked-button
      type="button"
      (click)="openAddQuestionDialog('0ms', '0ms')"
      [disabled]="testAssignedAtLeastOnce"
      color="primary">
      {{ "New question" | translate }}
    </button>
  </div>
</div>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef> {{ "Questions" | translate }} ({{ dataSource.data.length }})</th>
    <td mat-cell *matCellDef="let questionTest"> {{ questionTest.question.label }}</td>
  </ng-container>

  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef class="custom-text-center">{{ "Points" | translate }}</th>
    <td mat-cell *matCellDef="let questionTest" class="custom-text-center"> {{ questionTest.question.points }}</td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef class="custom-text-center">{{ "Weight" | translate }}</th>
    <td mat-cell *matCellDef="let questionTest" class="custom-text-center"> {{ questionTest.question.weight }}</td>
  </ng-container>

  <ng-container matColumnDef="maxScore">
    <th mat-header-cell *matHeaderCellDef class="custom-text-center">{{ "Maximum score" | translate }}<br>({{ testPointsSum }})</th>
    <td mat-cell *matCellDef="let questionTest" class="custom-text-center"> {{ (questionTest.question.points * questionTest.question.weight) }}</td>
  </ng-container>

  <ng-container matColumnDef="timeLimit">
    <th mat-header-cell *matHeaderCellDef class="custom-text-center">{{ "Time limit" | translate }}<br>({{ testMaxDurationInSeconds | secondsToTimeString }})</th>
    <td mat-cell *matCellDef="let questionTest" class="custom-text-center"> {{ questionTest.question.maxDurationInSeconds | secondsToTimeString }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
