<form [formGroup]="testForm" (ngSubmit)="onSubmit()" class="m-2">
  <mat-dialog-content class="p-3 pb-1">
    <h3 class="">{{ 'Create.topic' | translate }}</h3>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ 'Label' | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="label"
        required
        maxlength="500">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="p-3 pt-1" align="end">
    <button mat-stroked-button
            type="button"
            color="primary"
            class="rounded-pill"
            (click)="onClose()">{{ 'Cancel' | translate }}
    </button>
    <button mat-flat-button
            type="submit"
            class="rounded-pill"
            color="primary"
            [disabled]="testForm.invalid">{{ 'btn_Create' | translate }}
    </button>
  </mat-dialog-actions>
</form>
