<div class="container my-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="m-0">{{ 'Tests' | translate }}</h1>
        <button
          mat-icon-button color="primary"
          [matMenuTriggerFor]="listMenu"
          [matTooltip]="'Select list' | translate"
          [matTooltipShowDelay]="1000"
          class="mx-1">
          <mat-icon><span class="material-symbols-outlined"> filter_list </span></mat-icon>
        </button>
        <mat-menu #listMenu="matMenu">
          @for (listFilter of listFilters; track listFilter) {
            <button mat-menu-item (click)="onSelectListFilter(listFilter.value === 'archived')">
              <span *ngIf="(listFilter.value === 'archived') === isArchivedListSelected "
                    class="material-symbols-outlined"> done </span>
              {{ listFilter.viewValue + '.ms' | translate }}
            </button>
          }
        </mat-menu>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <button color="primary" mat-icon-button [matTooltip]="'Search' | translate"
                [matTooltipShowDelay]="1000"
                (click)="onSearch()">
          <mat-icon><span class="material-symbols-outlined"> search </span></mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openAddDialog('0ms', '0ms')"
                [matTooltip]="'Add test' | translate"
                [matTooltipShowDelay]="1000">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="refreshTestsList()"
                [matTooltip]="'Refresh list' | translate"
                [matTooltipShowDelay]="1000">
          <span class="material-symbols-outlined"> refresh </span>
        </button>
      </div>
    </div>
  </div>

  <div class="container my-3">
    <app-loading-bar></app-loading-bar>
  </div>

  <app-test-list
    [isSearching]="isSearching">
  </app-test-list>
</div>
