<div class="container">
  <div class="row">
    <div class="col-md-4 my-2">
      <mat-card class="h-100">
        <mat-card-header>
          <div class="d-flex justify-content-between align-items-center w-100">
            <div>
              <mat-card-title>{{ "My profile" | translate }}</mat-card-title>
              <!--        <mat-card-subtitle></mat-card-subtitle>-->
            </div>
            <div>
              <div>
                <button mat-icon-button
                        [matMenuTriggerFor]="menu"
                        color="primary"
                        [matTooltip]="'Options' | translate"
                        [matTooltipShowDelay]="1000">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <div mat-menu-item (click)="onEditDialog(candidate)">
                    <mat-icon color="primary"><span class="material-symbols-outlined">edit</span></mat-icon>
                    <p>{{ 'Edit profile' | translate }}</p>
                  </div>
                  <div mat-menu-item (click)="onChangePasswordDialog(candidate.id)">
                    <mat-icon color="primary"><span class="material-symbols-outlined">password</span></mat-icon>
                    <p>{{ 'Change password' | translate }}</p>
                  </div>
                  <div mat-menu-item (click)="onDeleteDialog(candidate)">
                    <mat-icon color="warn"><span class="material-symbols-outlined">delete_forever</span></mat-icon>
                    <p>{{ 'Delete account' | translate }}</p>
                  </div>
                </mat-menu>
              </div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <hr>
          <h5>{{ ("Mail" | translate) }}: {{ candidate.mail }}</h5>
          <h5>{{ ("Birth date" | translate) }}
            : {{ candidate.birthDate ? (candidate.birthDate | date: 'dd/MM/yyyy') : ("Not provided" | translate) }}</h5>
          <h5>{{ ("Phone number" | translate) }}
            : {{ candidate.phoneNumber ? candidate.phoneNumber : ("Not provided" | translate) }}</h5>
          <ng-container *ngIf="candidate.professionalProfileUrl">
            <h5>{{ ("Professional profile url" | translate) }}: <a href="//{{ candidate.professionalProfileUrl }}"
                                                                   target="_blank">{{ ("Click here" | translate) }}</a>
            </h5>
          </ng-container>
          <ng-container *ngIf="!candidate.professionalProfileUrl">
            <h5>{{ ("Professional profile url" | translate) }}: {{ ("Not provided" | translate) }}</h5>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8 my-2">
      <mat-card class="h-100">
        <mat-card-header>
          <mat-card-title>{{ "Tests to take" | translate }} ({{ testsToTake.length }})</mat-card-title>
          <!--        <mat-card-subtitle></mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <hr>
          <div class="table-responsive">
            <table mat-table [dataSource]="testsToTakeTableSource"
                   *ngIf="testsToTakeTableSource.data.length > 0; else noTestToTake">
              <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef> {{ "Label" | translate }}</th>
                <td mat-cell *matCellDef="let candidateTest"> {{ candidateTest.test.label }}</td>
              </ng-container>

              <ng-container matColumnDef="assignationDate">
                <th mat-header-cell *matHeaderCellDef>{{ "Assignation date" | translate }}</th>
                <td mat-cell *matCellDef="let candidateTest"> {{ candidateTest.assignedAt | date: 'dd/MM/yy' }}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>{{ "Actions" | translate }}</th>
                <td mat-cell *matCellDef="let candidateTest;">
                  <button mat-stroked-button
                          class="rounded-pill"
                          type="button"
                          (click)="onDisplayConfirmation(candidateTest)"
                          color="primary">{{ "Take" | translate }}
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="testsToTakeTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: testsToTakeTableColumns;"></tr>
            </table>
          </div>
          <ng-template #noTestToTake>
            <p>{{ "There is no test to take at the moment." | translate }}</p>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 my-2">
      <mat-card class="h-100">
        <mat-card-header>
          <mat-card-title>{{ "Tests taken" | translate }} ({{ testsTaken.length }})</mat-card-title>
          <!--        <mat-card-subtitle></mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <hr>
          <div class="table-responsive">
            <table mat-table [dataSource]="testsTakenTableSource"
                   *ngIf="testsTakenTableSource.data.length > 0; else noTestTaken">
              <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef>{{ "Label" | translate }}</th>
                <td mat-cell *matCellDef="let candidateTest"> {{ candidateTest.test.label }}</td>
              </ng-container>

              <ng-container matColumnDef="assignedAt">
                <th mat-header-cell *matHeaderCellDef>{{ "Assigned" | translate }}</th>
                <td mat-cell *matCellDef="let candidateTest"> {{ candidateTest.assignedAt | date: 'dd/MM/yy' }}</td>
              </ng-container>

              <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef>{{ "Duration" | translate }}</th>
                <td mat-cell
                    *matCellDef="let candidateTest"> {{ timeService.calculateDurationInSeconds(candidateTest.startedAt, candidateTest.endedAt) | secondsToTimeString }}
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>{{ "Results" | translate }}</th>
                <td mat-cell *matCellDef="let candidateTest;">
                  <ng-container *ngIf="candidateTest.resultsShared == true">
                    <a [routerLink]="'/results/' + candidateTest.id" class="unstyled-link">
                      <button
                        mat-icon-button
                        color="primary"
                        [matTooltip]="'Results' | translate"
                        [matTooltipShowDelay]="1000">
                        <span class="material-symbols-outlined"> description </span>
                      </button>
                    </a>
                  </ng-container>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="testsTakenTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: testsTakenTableColumns;"></tr>
            </table>
          </div>
          <ng-template #noTestTaken>
            <p>{{ "No test have been taken at this time." | translate }}</p>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 my-2">
      <mat-card class="h-100">
        <mat-card-header>
          <mat-card-title>{{ "Feedback & Support" | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <hr>
          <div class="container h-100">
            <div class="w-100 h-50 d-flex flex-column justify-content-center align-items-center py-2">
              <p class="text-center">{{ "dashboard-candidate.feedback.txt" | translate }}</p>
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSc3caLN_-7iReZODdaBgEPO-GMfinWcYZiqUwRReP3NSJhiMQ/viewform?usp=sf_link"
                target="_blank">
                <button mat-flat-button color="primary" class="rounded-pill">
                  {{ "dashboard-candidate.feedback.btn" | translate }}
                </button>
              </a>
            </div>
            <div class="w-100 h-50 d-flex flex-column justify-content-center align-items-center py-2">
              <p class="text-center">{{ "dashboard-candidate.support.txt" | translate }}</p>
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSdG1nICb0opjelPl6Wtv6DB2Z28WzO7ecBLm1Hr1ptQwiEedQ/viewform?usp=sf_link"
                target="_blank">
                <button mat-flat-button color="primary" class="rounded-pill">
                  {{ "dashboard-candidate.support.btn" | translate }}
                </button>
              </a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
