<ng-container *ngIf="userSubject | async as user">
  <div class="container my-3">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="m-0">{{ user.person.lastName | uppercase }} {{ user.person.firstName }}</h1>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <button mat-icon-button color="primary"
                  (click)="onRefresh()"
                  [matTooltip]="'Refresh' | translate"
                  [matTooltipShowDelay]="1000">
            <span class="material-symbols-outlined"> refresh </span>
          </button>
        </div>
      </div>
    </div>

    <div class="container my-3">
      <app-loading-bar></app-loading-bar>
    </div>

    <ng-container *ngIf="user">
      <ng-container *ngIf="role == 'hrManager'">
        <app-dashboard-hr-manager></app-dashboard-hr-manager>
      </ng-container>

      <ng-container *ngIf="role == 'candidate'">
        <app-dashboard-candidate [candidateSubject]="userSubject"></app-dashboard-candidate>
      </ng-container>
    </ng-container>

  </div>
</ng-container>
