<ng-container *ngIf="
  {
  test: test$ | async,
  candidateTests: candidateTestsSubject | async
  } as data">
  <ng-container *ngIf="data.test as test">
    <ng-container *ngIf="data.candidateTests as ct">

      <div class="container my-3">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <mat-card class="h-100">
                <mat-card-header>
                  <div class="w-100 d-flex justify-content-between align-items-center">

                    <mat-card-title>Test : {{ test.label }}</mat-card-title>

                    <div>
                      <button mat-icon-button
                              [matMenuTriggerFor]="menu"
                              color="primary"
                              [matTooltip]="'Options' | translate"
                              [matTooltipShowDelay]="1000">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <div mat-menu-item (click)="onEdit(test)">
                          <mat-icon color="primary"><span class="material-symbols-outlined">edit</span></mat-icon>
                          <p>{{ 'Edit' | translate }}</p>
                        </div>
                        <div mat-menu-item (click)="onRefresh()">
                          <mat-icon color="primary"><span class="material-symbols-outlined">refresh</span></mat-icon>
                          <p>{{ 'Refresh' | translate }}</p>
                        </div>
                        <div mat-menu-item (click)="openDeleteDialog(test.id)">
                          <mat-icon color="warn"><span class="material-symbols-outlined">delete</span></mat-icon>
                          <p>{{ 'Delete' | translate }}</p>
                        </div>
                        <div mat-menu-item (click)="onChangeArchivedValue(test)">
                          <mat-icon><span
                            class="material-symbols-outlined">{{ test.archived ? 'unarchive' : 'archive' }}</span>
                          </mat-icon>
                          <p>{{ (test.archived ? 'Unarchive' : 'Archive') | translate }}</p>
                        </div>
                      </mat-menu>
                    </div>
                  </div>
                </mat-card-header>
                <mat-card-content>
                  <h4>{{ test.creationDate }}</h4>
                  <h4>{{ test.pointsSum }}</h4>
                  <h4>{{ test.timeLimit }}</h4>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-md-6">
              <mat-card class="h-100">
                <mat-card-header>
                  <mat-card-title>Image</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <img
                    src="https://static.av-atlas.org/images/en/malware/card-malware-development-total-total-malware-total-pua-true-10.png"
                    alt="Image"
                    style="max-width: 100%; height: 20vh;">
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>


        <div class="container my-3">
          <!--    <hr>-->
          <mat-progress-bar [mode]="isLoading ? 'indeterminate' : 'determinate'" value="0"></mat-progress-bar>
        </div>

        <div class="container my-3">
          <mat-tab-group [selectedIndex]="ct.length > 0 ? 1 : 0">
            <mat-tab>
              <ng-template mat-tab-label>
                Details
                <mat-icon *ngIf="ct.length > 0" color="warn"><span class="material-symbols-outlined"> lock </span>
                </mat-icon>
              </ng-template>
              <app-test-details [questionTestsSubject]="questionTestsSubject"
                                [testSubject]="test$"
                                [testAssignedAtLeastOnce]="ct.length > 0">
              </app-test-details>
            </mat-tab>

            <ng-container *ngIf="questionTestsSubject | async as qt">
              <mat-tab label="Assignation" [disabled]="!(qt.length > 0)">
                <app-test-assignation [candidateTestsSubject]="candidateTestsSubject"
                                      [test$]="test$">
                </app-test-assignation>
              </mat-tab>
            </ng-container>
          </mat-tab-group>
        </div>

      </div>
    </ng-container>
  </ng-container>
</ng-container>
